<div class="mainnav_container">
  <ul class="sidenav">
    <li>
      <a (click)="xelloToolTipFeature()" class="active">
        <span class="fa fa-pencil"></span>Xello Tool-Tip Feature</a>
    </li>
    <li>
      <a>
        <span class="fa fa-user"></span>Cool Feature</a>
    </li>
    <li>
      <a>
        <span class="fa fa-plane"></span>Important Feature</a>
    </li>
    <li>
      <a>
        <span class="fa fa-globe"></span>Bugged Feature</a>
    </li>
  </ul>

  <div class="content">

    <h2>
      <u>Xello Tool-Tip Feature Description</u>
    </h2>
    <p>Create a single page Angular 4+ app with simple routing that has one state/view. In it,  place two buttons that when
      clicked; show a tooltip above the button with some text in it.  When button A is clicked, if button B’s tooltip is
      open it should close and vice versa - only  one tooltip should be visible at a time. Either tooltip should close when
      clicked anywhere  outside of it, but remain open if clicked inside. Either tooltip should close when ESC key  is pressed.
    </p>

    <h2>
      <u>Xello Tool-Tip Button Test</u>
    </h2>


    <div class="row col-12 col-sm-12">
      <div class="col-6 col-sm-6">
        <button xelloToolTip toolTipClass="toolTipClassTest" toolTipMessage="Button One. Short text summary." type="button" class="btn btn-success">First</button>
      </div>
      <div class="col-6 col-sm-6">
        <button xelloToolTip toolTipMessage="Button Two. Much longer text than Button One. Much more text than before." type="button"
          class="btn btn-success">Second</button>
      </div>
    </div>


    <h2>
      <u>Gifs</u>
    </h2>

    <div class="row col-12 col-sm-12" >
      <div class="col-6 col-sm-6">
        <img class="imageFit" src="assets/vid1.gif" />
      </div>
      <div class="col-6 col-sm-6">
        <img class="imageFit" src="assets/vid2.gif" />
      </div>
    </div>


  </div>




</div>